/* th,
td {
  color: white;
  background-color: #2196f3;
}
*/
tr:first-of-type {
  background-color: rgba(128, 128, 128, 0.2);
}

tr + tr {
  background-color: rgba(134, 255, 134, 0.2);
}

tr + tr:hover {
  background-color: yellow; /*背景色*/
}

td:first-of-type {
  background-color: rgba(255, 132, 132, 0.2);
}
